@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/* font-family: "Roboto", sans-serif; 100 to 900
font-family: "Amatic SC", sans-serif; 400, 700 */

:root {
    --primary-color: #fafafa;
    --secondary-color: #7a78ff;
    --accent-color: #ff6d38;
    --heading-color: #333;
    --light-color: #f9f9f9;
    --dark-color: #333;

    --btn-primary-bg: #333;
    --btn-secondary-bg: #8584ff;
    --btn-accent-bg: #ffc412;
    --btn-primary-hover-bg: #e74c3c;
    --btn-secondary-hover-bg: #333;

    --font-family-heading: "Amatic SC", sans-serif;
    --roboto: "Roboto", sans-serif;
    --border-radius: 8px;

    --shadow-sm: 0 2px 5px rgba(0, 0, 0, 0.1);
    --shadow-md: 0 3px 10px rgba(0, 0, 0, 0.1);
    --shadow-lg: 0 5px 15px rgba(0, 0, 0, 0.1);
    --shadow-xl: 0 5px 15px rgba(0, 0, 0, 0.2);

    --section-margin: 2rem 0;
    --container-width: 90%;
}

@media (prefers-color-scheme: dark) {
    /* :root {
    --background: #ffffff;
    --foreground: #ededed;
  } */
}

body {
    position: relative;
    background: var(--background);
    color: black;
    max-width: 100vw;
    font-family: var(--roboto);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-bar {
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgb(255, 255, 255);
    box-shadow: var(--shadow-md);
    border-bottom: 1px solid rgb(88, 88, 88);
    width: 100%;
    height: 60px;
    padding: 0 5%;
    @media screen and (min-width: 1200px){
        height: 88px;
        justify-content: space-between;
    }
    .logo-adaence {
        flex-grow: 1;
        @media screen and (min-width: 1200px){
            flex-grow: 0;
        }
        p {
            font-size: 1.2rem;
            font-weight: 700;
            span {
                color: var(--secondary-color);
            }
            @media screen and (min-width: 1200px){
                font-size: 1.8rem;
            }
        }
    }
    nav {
        order: 2;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (min-width: 1200px){
            order: 1;
        }
        &.actif {
            ul {
                transform: translateX(0);
                opacity: 1;
                visibility: visible;
            }
        }
        .burger {
            @media screen and (min-width: 1200px){
                display: none;
            }
            img {
                width: 30px;
                height: 30px;
            }
        }
        ul {
            position: absolute;
            top: calc(100% + 1px);
            right: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            background-color: rgb(255, 255, 255);
            padding: 20px 3% 15px 2%;
            transform: translateX(101%);
            opacity: 0;
            visibility: hidden;
            transition: .5s ease-in-out;
            @media screen and (min-width: 1200px){
                position: relative;
                top: auto;
                right: auto;
                flex-direction: row;
                align-items: center;
                padding: 0;
                transform: none;
                opacity: 1;
                visibility: visible;
            }
            li {
                list-style: none;
                margin-bottom: 15px;
                @media screen and (min-width: 1200px) {
                    margin-bottom: 0;
                }
                .nav-link {
                    position: relative;
                    display: flex;
                    align-items: center;
                    margin: 0 10px;
                    text-decoration: none;
                    color: black;
                    font-weight: 600;
                    transition: 0.3s ease-in-out;
                    img {
                        margin-right: 3px;
                    }
                    &:before {
                        content: "";
                        position: absolute;
                        bottom: -2px;
                        left: 25px;
                        height: 2px;
                        width: calc(100% - 25px);
                        background-color: var(--accent-color);
                        transform-origin: left;
                        transform: scaleX(0);
                        transition: 0.3s ease-in-out;
                    }
                    &:hover {
                        color: var(--accent-color);
                    }
                    &:hover:before {
                        transform: scaleX(1);
                    }
                    &.disabled {
                        color: var(--accent-color);
                        pointer-events: none;
                        &:before {
                            transform: scaleX(1);
                        }
                    }
                }
            }
        }
    }
}

.button {
    height: 47px;
    padding: 0 21px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: 700;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    order: 1;
    @media screen and (min-width: 1200px){
        order: 2;
    }
}

.nav-bar > .button {
    background-color: var(--btn-secondary-bg);
    margin-right: 20px;
    @media screen and (min-width: 1200px){
        margin-right: 0;
    }
    &:hover {
        background-color: var(--btn-secondary-hover-bg);
    }
}

main {
    padding-top: 60px;
    @media screen and (min-width: 1200px) {
        padding-top: 88px;
    }
}

header {
    position: relative;
    .img-content {
        width: 100%;
        height: 345px;
        &.img-benevole {
            height: 290px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            filter: brightness(50%);
        }
    }
    .txt-content {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        @media screen and (min-width: 1200px) {
            top: 46%;
        }
        h1 {
            color: var(--primary-color);
            font-family: var(--font-family-heading);
            font-size: 13vw;
            font-weight: 500;
            text-align: center;
            margin-bottom: 15px;
            @media screen and (min-width: 768px) {
                font-size: 4.2rem;   
                margin-bottom: 30px;
            }
        }
        p {
            text-align: center;
            color: var(--primary-color);
            font-weight: 300;
            font-size: .9rem;
            @media screen and (min-width: 768px) {
                font-size: 1.2rem;   
            }
        }
        &.txt-benevole {
            top: 50%;
            h1 {
                font-size: 3rem;
                margin-bottom: 10px;
            }
            p {
                font-size: 1rem;
            }
        }
    }
}

.search-bar {
    background-color: white;
    width: 90%;
    max-width: 900px;
    padding: 30px 2.5%;
    margin: 0 auto;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-lg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    form {
        width: 100%;
        max-width: 500px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: flex-end;
        @media screen and (min-width: 768px) {
            max-width: none;
            grid-template-columns: repeat(3, 1fr);
        }
        div {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
            @media screen and (min-width: 768px) {
                margin-bottom: 0;
                margin-right: 15px;
            }
        }
        label {
            font-weight: 600;
            margin-bottom: 12px;
        }
        select {
            height: 40px;
            border-radius: var(--border-radius);
            padding-left: 15px;
            border: 2px solid #bebebe;
        }
        input {
            height: 40px;
            border-radius: var(--border-radius);
            border: 2px solid #bebebe;
            padding-left: 15px;
        }
        button {
            height: 40px;
            background-color: var(--btn-primary-bg);
        }
        button:hover {
            background-color: var(--btn-primary-hover-bg);
        }
    }
    .form-more {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        font-size: 0.9rem;
        .reset-form {
            color: var(--btn-accent-bg);
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

header .search-bar {
    position: absolute;
    top: 126%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media screen and (min-width: 768px) {
        top: 103%;
    }
}

header .form-more {
    display: none !important;
}

section, form {
    h2 {
        font-family: var(--font-family-heading);
        font-size: 2rem;
        text-align: center;
        margin-bottom: 20px;
        @media screen and (min-width: 768px) {
            font-size: 3rem;
            margin-bottom: 40px;
        }
    }
    &>p {
        width: 90%;
        max-width: 735px;
        text-align: center;
        font-size: 0.9rem;
        line-height: 1.1rem;
        margin: 0 auto 45px;
        text-align: center;
        @media screen and (min-width: 768px) {
            font-size: 1rem;
            line-height: 1.5rem;
        }
    }
}

.section-mosaique {
    padding-top: 250px;
    padding-bottom: 60px;
    background-color: var(--primary-color);
    @media screen and (min-width: 768px) {
        padding-top: 123px;
    }
    .mosaique {
        width: var(--container-width);
        margin: 0 auto;
        display: grid;
        grid-auto-flow: dense;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 45vw);
        grid-gap: .5rem;
        margin-bottom: 30px;
        @media screen and (min-width: 1200px){
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, 19.7vw);
            grid-gap: 1rem;
        }
        &>div {
            position: relative;
            width: 100%;
            height: 100%;
            border-radius: var(--border-radius);
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                transition: 0.3s ease-in-out;
                &:hover {
                    transform: scale(1.1);
                }
            }
            .profile-plus {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                padding: 20px 5%;
                background-color: #3333338a;
                /* backdrop-filter: blur( 3.5px );
                -webkit-backdrop-filter: blur( 3.5px ); */
                transform: translateY(100%);
                transition: 0.5s ease-in-out;
                p {
                    color: white;
                    &:first-child {
                        font-size: 1.2rem;
                        font-weight: 600;
                    }
                    &:nth-child(2) {
                        font-size: 0.8rem;
                        font-weight: 300;
                    }
                }
            }
            &:hover .profile-plus {
                transform: translateY(0);
            }
        }
        &>div:nth-child(1),
        &>div:nth-child(3),
        &>div:nth-child(5),
        &>div:nth-child(7) {
            grid-row: span 2;
        }
        @media screen and (min-width: 768px) {
            &>div:nth-child(5),
            &>div:nth-child(6) {
                grid-row: span 2;
            }
        }
    }
    a {
        width: fit-content;
        margin: 0 auto;
        background-color: var(--btn-primary-bg);
        &:hover {
            background-color: var(--btn-primary-hover-bg);
        }
    }
    
}

.section-marche {
    padding-top: 60px;
    padding-bottom: 60px;
    .marche-cards-content {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        margin: 0 auto;
        @media screen and (min-width: 1200px){
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 30px;
        }
        .cards {
            border-radius: var(--border-radius);
            box-shadow: var(--shadow-md);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px 5% 20px;
            @media screen and (min-width: 768px){
                height: 390px;
            }
            p:first-child {
                font-size: 3rem;
                margin-bottom: 10px;
                @media screen and (min-width: 768px){
                    margin-bottom: 25px;
                }
            }
            p:nth-child(2) {
                font-size: 1rem;
                line-height: 1.2rem;
                font-weight: 900;
                text-align: center;
                margin-bottom: 20px;
                @media screen and (min-width: 768px){
                    font-size: 1.4rem;
                    line-height: 2.2rem;
                }
            }
            p:nth-child(3) {
                text-align: center;
                font-size: .7rem;
                line-height: .9rem;
                font-weight: 600;
                width: 90%;
                margin: 0 auto;
                @media screen and (min-width: 768px){
                    font-size: 1rem;
                    line-height: 1.2rem;
                }
            }
        }
    }
}

.section-difference {
    padding-top: 60px;
    padding-bottom: 65px;
    background-color: var(--primary-color);
    .difference-buttons-content {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        @media screen and (min-width: 768px){
            flex-direction: row;
        }
        a {
            margin: 0 10px 20px;
            @media screen and (min-width: 768px){
                margin-bottom: 0;
            }
            &:first-child {
                background-color: var(--btn-primary-bg);
            }
            &:first-child:hover {
                background-color: var(--btn-primary-hover-bg);
            }
            &:nth-child(2) {
                background-color: var(--btn-secondary-bg);
            }
            &:nth-child(2):hover {
                background-color: var(--btn-secondary-hover-bg);
            }
            &:nth-child(3) {
                background-color: var(--btn-accent-bg);
            }
        }
    }
}

footer {
    background-color: var(--dark-color);
    color: white;
    padding-top: 38px;
    .footer-content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        padding: 0 5% 30px;
        @media screen and (min-width: 768px){
            grid-template-columns: repeat(2, 1fr);
            padding: 0 5%;
        }
        @media screen and (min-width: 1440px){
            grid-template-columns: repeat(3, 1fr);
        }
        &> div > p:first-child {
            color: var(--btn-secondary-bg);
            font-family: var(--font-family-heading);
            font-size: 1.8rem;
            margin-bottom: 24px;
        }
        &> div > p:nth-child(2) {
            line-height: 1.5rem;
            margin-bottom: 15px;
        }
        &> div:first-child {
            padding-bottom: 20px;
            @media screen and (min-width: 768px) {
                padding-bottom: 50px;
            }
            .social-links {
                display: flex;
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #444444;
                    margin-right: 15px;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    img {
                        width: 22px;
                        height: auto;
                    }
                }
            }
        }
        &> div:nth-child(2) > div {
            display: flex;
            flex-direction: column;
        }
        &> div:nth-child(2) > div a {
            color: white;
            text-decoration: none;
            margin-bottom: 18px;
        }
    }
    .footer-credits {
        height: 112px;
        border-top: 1px solid rgb(88, 88, 88);
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            text-align: center;
        }
    }
}

.section-search {
    padding-top: 32px;
    padding-bottom: 45px;
    background-color: var(--light-color);
    .search-bar {
        form {
            margin-bottom: 10px;
        }
    }
}

.section-results {
    width: 100%;
    padding: 0 5% 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    background-color: var(--light-color);
    @media screen and (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
    }
    @media screen and (min-width: 1200px) {
        grid-template-columns: repeat(4, 1fr);
    }
    .profile-cards {
        border-radius: var(--border-radius);
        box-shadow: var(--shadow-md);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        .img-content {
            width: 100%;
            height: 150px;
            @media screen and (min-width: 768px) {
                height: 200px;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
        .txt-content {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            padding: 15px 8%;
            @media screen and (min-width: 768px) {
                padding: 31px 8% 26px;
            }
            .txt-profile {
                width: 100%;
                flex-grow: 1;
                margin-bottom: 30px;
                .activite {
                    font-size: .8rem;
                    font-weight: 500;
                    @media screen and (min-width: 768px) {
                        font-size: 1.1rem;
                    }
                }
                .firstname {
                    color: var(--btn-primary-hover-bg);
                    font-size: 1.1rem;
                    font-weight: 700;
                    line-height: 2.5rem;
                    @media screen and (min-width: 768px) {
                        font-size: 1.3rem;
                    }
                }
                .infos,
                .city,
                .description {
                    font-size: .8rem;
                    line-height: 1rem;
                    @media screen and (min-width: 768px) {
                        font-size: 1rem;
                        line-height: 2rem;
                    }
                }
                .city {
                    margin-bottom: 15px;
                }
                .description {
                    font-size: .8rem;
                    line-height: 1rem;
                    @media screen and (min-width: 768px) {
                        font-size: 1rem;
                        line-height: 1.3rem;
                    }
                }
            }
            .button {
                background-color: var(--btn-primary-bg);
                width: fit-content;
                @media screen and (max-width: 768px) {
                    font-size: .8rem;
                    text-align: center;
                    line-height: 1rem;
                }
                &:hover {
                    background-color: var(--btn-primary-hover-bg);
                }
            }
        }
    }
}

.section-pagination {
    background-color: var(--light-color);
    padding-bottom: 33px;
    .pagination-cards {
        display: flex;
        width: fit-content;
        margin: 0 auto;
        & > div {
            height: 30px;
            margin: 0 5px;
            border-radius: var(--border-radius);
            background-color: white;
            cursor: pointer;
            transition: 0.3s ease-in-out;
            @media screen and (min-width: 768px) {
                height: 40px;
            }
            &:hover {
                background-color: #e2e2fd;
            }
            p {
                color: var(--btn-secondary-bg);
                font-weight: 600;
                pointer-events: none;
            }
        }
        .btn-pagination {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 10px 6px;
            font-size: 1.5rem;
            span {
                display: none;
            }
            @media screen and (min-width: 768px) {
                font-size: 1rem;
                width: 100px;
                span {
                    display: inline;
                }
            }
            &.inactif {
                opacity: 0;
                visibility: hidden;
            }
        }
        .btn-page-numero {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            @media screen and (min-width: 768px) {
                width: 40px;
            }
            &.active {
                background-color: var(--btn-secondary-bg);
                p {
                    color: white;
                }
            }
        }
    }
}

.section-formulaire {
    position: relative;
    z-index: 2;
    background-color: var(--primary-color);
    padding-top: 1px;
    padding-bottom: 60px;
    form {
        width: 90%;
        max-width: 693px;
        margin: 0 auto;
        background-color: white;
        border-radius: var(--border-radius);
        box-shadow: var(--shadow-lg);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -50px;
        padding: 40px 2% 31px;
        & > p {
            width: 90%;
        }
        & > div {
            width: 100%;
            margin-right: 0;
            margin-bottom: 26px;

        }
        & > div:nth-child(3),
        & > div:nth-child(5) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @media screen and (min-width: 1200px) {
                flex-direction: row;
            }
            & > div {
                width: 100%;
                margin-right: 0;
                margin-bottom: 26px;
                &:nth-child(2) {
                    margin-bottom: 0;
                }
                @media screen and (min-width: 1200px) {
                    width: 49%;
                    margin-bottom: 0;
                }
            }
        }
        & > div:nth-child(7) {
            margin-bottom: 40px;
        }
        label {
            font-weight: 600;
            span {
                margin-left: 5px;
                color: red;
            }
        }
        input,
        select,
        textarea {
            width: 100%;
            height: 40px;
            border-radius: var(--border-radius);
            border: 2px solid #bebebe;
            padding-left: 15px;
        }

        textarea {
            height: 150px;
            padding: 13px;
            font-family: var(--roboto);
        }
        .button {
            background-color: var(--btn-accent-bg);
            border-color: var(--btn-accent-bg);
        }
    }
}